# Lattice vectors
ax = 1.0
ay = 0
az = 0
bx = 0
by = 1.0
bz = 0
cx = 0
cy = 0
cz = 1.0

# Number of cells
Na = 64
Nb = 64
Nc = 128
Shells = 1

# Boundary conditions
BCa = 1
BCb = 1
BCc = 1

# Atom positions (fractional coordinates in the unit cell)
Atom0x = 0.5
Atom0y = 0.5
Atom0z = 0.5