<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Magnoom</string>
    <key>CFBundleExecutable</key>
    <string>magnoom</string>
    <key>CFBundleIconFile</key>
    <string>magnoom.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.magnoom.magnoom</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Magnoom</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.07</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
